* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f4f4f4;
}

/* Header */
h1 {
    margin-bottom: 30px;
    font-size: 2.5rem;
    /* text-align: top; */
}

/* Boxes */
.box-container {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.box {
    width: 120px;
    height: 120px;
    border: 2px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    background-color: white;
    transition: 0.3s;
}

/* Input Section */
.input-section {
    display: flex;
    gap: 10px;
}

input {
    padding: 10px;
    font-size: 1rem;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
}
